.menuresumen {display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    margin-top: 4vh;
    margin-left: 4vh;

}

.menuresumen img {height: 8vh;
    width: 8vh;

}

.menuresumen ul { list-style-type: none;}

.menuresumen ul li { margin: 2vh;}
